---
---

@import "simple-website";

.post-content h1 {
    font-size: 145%;
    border-bottom: solid 3px #ccc;
}

.post-content h2 {
    border-bottom: solid 1px #ccc;
}

.site-footer {
    padding-top: 3px;
}

body {
    counter-reset: ej;
}

h3:before {
    counter-increment: ej;
    content: counter(ej) ". ";
}

code {
  padding: 0;
  border: none;
}

pre {
  padding: 12px;
  overflow: auto;
  margin-left: 2em;
  word-wrap: normal;
  word-break: normal;
}

pre code {
  margin: 0;
  padding: 0;
  font-size: 100%;
  display: inline;
  max-width: auto;
  overflow: visible;
}

.highlighter-rouge .highlight {
  border: none;
  background-color: #f3f3f3;
}
